#contact-intro{
    width:100%;
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    margin:150px auto 50px;
    font-family: 'Poppins', sans-serif;
    color:rgba(0,0,0,0.7)
}

#contact-text{
    width:40%;
    padding:0 0% 0 0%;
}

#mail-phone{
    width:40%;
    padding:32px 0 0 0%;
    font-size:0.9rem;
    
}

#mail-phone i {
    padding-right: 1rem;
    color:#075c52;
}

#mail{
    margin-bottom: 2rem;
}



#form{
    width:66%;
    margin:auto;
    font-family: 'Poppins', sans-serif;
}

.form-group input, textarea{
    width:100%;
    font-size:0.9rem;
    border:none;
    border-bottom:2px solid #ccc;
    padding:12px 12px 9.5px 0; margin:0 2rem 40px 0;
    font-family: 'Poppins', sans-serif;
    font-weight:100;
    letter-spacing: 1px;
    color:#333;
}

textarea{
    height:150px;
    font-size: 0.8rem;
}

.form-group input:focus, .form-group textarea:focus{
    outline:none;
    border-bottom: 2px solid black;
    transition: 1s ease;
}

.form-group input:hover , .form-group textarea:hover{
    border-bottom: 2px solid black;
    transition: 0.3s ease;
}

#form-group-name-email{
    display:flex;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #777;
  opacity: 1; /* Firefox */
  font-weight: 300;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #777;font-weight: 300;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #777;font-weight: 300;
}

#send-button{
    background-color:#d4bc7b;
    width:150px;
    text-align: center;
    padding:0.5rem 1rem;
    margin:0 auto 50px;
    color:#000;
    font-size:0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
}

#send-button:hover{
    background-color:black;
    color:#d4bc7b;
    transition:0.3s ease;
    cursor: pointer;
}

@media(max-width:750px){
    #contact-intro{
        flex-direction: column;
    }
    
    #contact-text{
    width:70%;
    margin:auto;
}

    #mail-phone{
    width:70%;
    margin:auto; 
    font-size: 0.7rem;
    }
    
  #form-group-name-email{
      display: block;
    }
}
